body {
  font-family: raleway, sans-serif;
  height:100%;
}

h2 {
	font-size:18px;
	font-weight:bold;
}

h3 {
	font-size:17px;
	font-weight:bold;
}

h4 {
	font-size:16px;
	font-weight:bold;
}

b, strong {
    font-weight: bold;
}






nav a.button-collapse {
    display: inline;
	pointer-events: none;
}

nav a i.material-icons {
    color:white;
}

nav .button-collapse {
    float: left;
    position: relative;
    z-index: 1;
    height: 56px;
    margin: 0 18px 0 10px;
}

@media only screen and (max-width : 992px) {
	header, main, footer, .nav-wrapper, #nav_title, #content {
		padding-left: 0;
	}

	nav a.button-collapse {
		pointer-events: auto;
	}
	
	nav a i.material-icons {
		color:red;
	}
}

#nav_title {
	position:relative;
	top:3px;
}



#masse_totale {
	font-size:40px;
	font-weight:bold;
	text-align:center;	
	color:#34495e;
	padding:10px;
}

#masse_totale span {
	font-size:60%;
	font-weight:bold;
	color:#ecf0f1;
}


#twitter, #instagram, #site {
	width:60px;
	text-align:center;
	margin:0px auto 0px auto;
	border-radius:4px;
	color:white;
	font-weight:bold;
	padding:5px;
	display:block;
}

#twitter {
	background-color:#3498db;	
}

#instagram {
	background-color:#9b59b6;	
}

#site {
	background-color:#c0392b;	
}


.secteur {
    padding: 20px 2px 2px 2px;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
	width:60%;
	font-weight:bold;
}

.masse_secteur {
    padding: 20px 2px 2px 2px;
    text-align: center;
    vertical-align: middle;
    border-radius: 2px;
	width:40%;
}